:root {
    /* Colores */ 
    --primary-color: #0f0c29;
    --primary-color-soft: #302b63;
    --primary-color-soft-two: #24243e;
    --secondary-color: #7F7FD5;
    --secondary-color-soft: #86A8E7;
    --secondar-color-soft-two: #91EAE4;
    --warm-dark: #201e1c;
    --dark:  #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;

    /* Fuentes */
    --cherry-cream-soda: "Cherry Cream Soda", serif;
    --roboto-flex: "Roboto Flex", serif;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--roboto-flex);
    font-weight: 300;
}

/* SECCION DEL HEADER */

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(to right, var(--primary-color), var(--primary-color-soft), var(--primary-color-soft-two));
}

header figure {
    width: 90px;
    height: 24px;
    margin-top: 20px;
    align-self: center;
}

header figure img {
    width: 100%;
    height: auto;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 80px;
    text-align: center;
    align-self: center;
}

.header__title-container h1 {
    font-family: var(--cherry-cream-soda);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--off-white);
}
.header__title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--off-white);
}

.header__title-container .header__button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgb(89,73,40, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--dark);
}

.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down_arrow.jpg');
    background-position: center;
}

/* SECCION DEL MAIN */

main {
    width: 100%;
    height: auto;
    background: linear-gradient(to right,var(--secondary-color),var(--secondary-color-soft),var(--secondar-color-soft-two));
    min-width: 320px;
}

.main-exchange__container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange__container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange__container--title h2 {
    font-family: var(--cherry-cream-soda);
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--dark);
}

.main-exchange__container--title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.6rem;
    color: var(--warm-dark);
}

.main-exchange__container .main-exchange__background--img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(./assets/imgs/taco.png);
    /* Imagen responsive*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* SECCIÓN DE TABLAS */ 

.main__meals-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
}

.main__meals-table .meals__table-title {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-family: var(--cherry-cream-soda);
    line-height: 2.3rem;
    color: var(--primary-color);
}

.meals__table-container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
    margin-top: 25px;
}

.meals__table--grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    justify-content: center;
    border-radius: 0px 8px 0px 0px;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.meals__table--grid p:nth-child(even) {
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--off-white);
    line-height: 1.9rem;
    text-align: left;
}

.meals__table--grid p:nth-child(odd) {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
    text-align: center;
    color: var(--primary-color);
}

/*.meals__table--grid p {
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--grey);
    border: 1px solid var(--off-white);
} */


.main-exchange__table--footer {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--primary-color-soft);
    border-radius: 8px;
}

.main-exchange__table--footer p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--off-white);
}

/* 2da. SECCIÓN  - DESCRIPCIÓN DE PLATILLOS */
.menu-details {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background: linear-gradient(to right, var(--primary-color), var(--primary-color-soft), var(--primary-color-soft-two));
}

.menu-details-logo {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('./assets/imgs/menu_logo_01.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-details-title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.menu-details-title h2 {
    font-family: var(--cherry-cream-soda);
    margin-bottom: 30px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--off-white);
}

.menu-details-title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--just-white);
}

.meals-description--cards {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: auto;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--primary-color-soft);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.16);
}

.meals--card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.meals--card-price {
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.meals--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--off-white);
}