:root {
    /* Colores */ 
    --primary-color: #d9a7c7;
    --primary-color-soft: #fffcdc;
    --secondary-color: #C33764;
    --secondary-color-soft: #1D2671;
    --warm-dark: #201e1c;
    --dark:  #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;

    /* Fuentes */
    --font-sriracha: "Sriracha", serif;
    --font-funnel-sans: "Funnel Sans", serif;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, var(--primary-color-soft) 16.69%, var(--primary-color)100%);
}

header figure {
    width: 150px;
    height: 24px;
    margin-top: 20px;
    align-self: center;
}

header figure img {
    width: 100%;
    height: auto;
}

.header__title__container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 80px;
    text-align: center;
    align-self: center;
}

.header__title__container h1 {
    font-family: var(--font-sriracha);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-dark);
}

.header__title__container p {
   font-family: var(--font-funnel-sans);
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--warm-dark);
}

.header__title__container .header__button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgb(89,73,40, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-family: var(--font-funnel-sans);
    font-weight: bold;
    text-decoration: none;
    color: var(--dark);
}

.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down_arrow.jpg');
    background-position: center;
}